.medium-dogs {
  padding-top: 8em;
  text-align: center;
}

.medium-dog-pic {
  width: 100%;
  padding-bottom: 1rem;
}

.medium-sized-header {
  font-family: "Hind Vadodara", sans-serif;
  font-size: 26px;
  font-weight: bold;
}

.medium-sized-p {
  font-family: "Hind Vadodara", sans-serif;
  font-size: 12px;
}

.shop-wrapper {
  padding: 0.5em;
}
