nav.navbar,
.navbar-default {
  background-color: #fff !important;
  font-size: 11px;
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 2em;
}

.navbar-default {
  background-image: none;
  border: none;
  border-radius: 0;
}

.navbar-default .navbar-nav > li > a {
  color: black;
}

.navbar-default .navbar-brand {
  color: black;
  font-family: "Anton", sans-serif;
  font-size: 40px;
}

.navbar-default .navbar-toggle {
  border-color: black;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: black;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: white;
}

.navbar {
  padding-left: 10em;
  box-shadow: none;
}

.navbar-header {
  box-shadow: none;
}

.navbar-toggle :hover {
  color: white;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

.navbar-collapse {
  box-shadow: none;
}
