.footer-copyright {
  text-align: center;
  padding-top: 4em;
}

.footer-email {
  width: 50%;
  padding-right: 2em;
}

.footer-email-section {
  display: inline;
}

.footer-hr {
  padding-bottom: 3.5em;
}
