.footer-copyright {
  text-align: center;
  padding-top: 4em;
}

.footer-email {
  width: 40%;
  padding-right: 2em;
}

.footer-email-section {
  display: inline;
}

.footer a {
  color: black;
  font-size: 10px;
}

.footer-p {
  font-weight: bold;
  padding-bottom: 2em;
}

.footer-about {
  font-size: 10px;
  padding-bottom: 1em;
}

.footer-logo {
  width: 10%;
  padding-right: 1em;
}

.footer-newsletter {
  font-size: 10px;
}
